@charset "UTF-8";

/*
em HTML é id = em CSS é #
em HTML é class = em CSS é .
*/

body {
    background-color: rgb(223, 229, 135);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: brown;
}

h1#principal {
    text-align: center;
    background-color: black;
    color: white;

}

h2 {
    color: rgb(44, 87, 150);
}

.basico {
    color: rgb(241, 16, 185);
    font-weight: bold;
}

.intermediario {
    color: rgb(175, 23, 206);
    font-weight: bold;
}

.avancado {
    color: rgb(109, 5, 129);
    font-weight: bold;
}

.destaque {
    background-color: rgb(182, 230, 11);
}